body {
    margin: 0;
    font-family: Arial;
    background: #0b1220;
    color: white;
}

/* TOP BAR */
#topbar {
    height: 50px;
    background: #111827;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    font-weight: bold;
}

/* SCREEN SYSTEM */
.screen {
    display: none;
    height: calc(100vh - 50px);
}

.active {
    display: flex;
}

/* MENU */
#menuScreen, #creatorScreen {
    justify-content: center;
    align-items: center;
}

/* CARD */
.card {
    background: #1f2937;
    padding: 20px;
    border-radius: 12px;
    margin: 10px;
}

/* BUTTONS */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background: #2563eb;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

/* INPUTS */
input, select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 8px;
    border: none;
    background: #111827;
    color: white;
}

/* GAME LAYOUT */
#gameScreen {
    display: flex;
}

/* SIDEBAR */
#sidebar {
    width: 120px;
    background: #111827;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#sidebar button {
    margin-bottom: 10px;
}

/* MAIN */
#main {
    flex: 1;
    padding: 15px;
}

/* TABS */
.tab {
    display: none;
}

.activeTab {
    display: block;
}

/* LOG */
#log {
    margin-top: 10px;
    font-size: 12px;
}