body{
margin:0;
font-family:Arial;
background:#050508;
color:white;
overflow:hidden;
}

#topbar{
height:52px;
background:#0a0a0f;
border-bottom:1px solid #300000;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 16px;
}

.screen{display:none;height:calc(100vh - 52px);}
.active{display:flex !important;}

#sidebar{
width:140px;
background:#0a0a0f;
border-right:1px solid #300000;
padding:10px;
}

#gameScreen{display:flex;}
#main{flex:1;padding:15px;}

.tab{display:none;}
.activeTab{display:block;}

.card{
background:#0f0f14;
border:1px solid #300000;
padding:15px;
border-radius:12px;
}

/* AGE BUTTON */
#ageBtn{
width:130px;
height:130px;
border-radius:50%;
background:#ff2a2a;
color:white;
border:none;
margin:20px auto;
display:block;
font-weight:bold;
font-size:14px;
box-shadow:0 0 25px rgba(255,0,0,0.4);
}

/* EVENT CARD */
#eventCard{
margin-top:15px;
padding:15px;
background:#111;
border:1px solid red;
border-radius:12px;
animation:pop .3s ease;
}

@keyframes pop{
from{transform:scale(.9);opacity:0;}
to{transform:scale(1);opacity:1;}
}

button.choice{
width:100%;
margin-top:8px;
background:#1a1a1a;
border:1px solid red;
padding:10px;
color:white;
cursor:pointer;
}

button.choice:hover{
background:red;
}